<ion-view>
	<ion-nav-bar>
		<ion-nav-back-button side="left" class="button button-icon ion-arrow-left-c">
		</ion-nav-back-button>
		
		<ion-nav-title>
		  <i class='icon ion-leaf'></i>
		</ion-nav-title>
	</ion-nav-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" placeholder="Farm1" id="name">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Connect</span>
				<input type="text" value="F-2212" disabled>
			</label>
			<label class="item item-input item-select">
			<div class="input-label">
				Repeat
			</div>
			<select>
				<option selected>Every day</option>
				<option>Every week</option>
				<option>Every month</option>
			</select>
			</label>
			<div class="item item-input item-stacked-label" ion-datetime-picker time ng-model="timeValue">                
                <span class="input-label">Time</span>
				<span class="input-label" id="time">{{timeValue| date: 'H:mm'}}</span>
            </div>		
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="addval()">Add</button>
		</div>
	</ion-content>
</ion-view>
