<ion-view view-title="เครื่องปรับอากาศ">
    <ion-content>
        <div class="list card">

            
          
            <div class="item item-body">
              <div class="row">
                <div class="col col-66">
                    <div class="row">
                        <u class="{{monitorstatus}}">ความแรงพัดลม :</u>&nbsp; <img class="fanlevel" src=img/fan{{fanlevel}}.png>
                    </div>  
                    
                  <div class="row">
                       <u class="{{monitorstatus}}"> โหมด : </u> &nbsp;&nbsp;<u class="{{monitorstatus}}">{{airmode}}</u>
                    </div>
                    <div class="row">
                        <u class="{{monitorstatus}}">เวลาเปิด :</u>&nbsp;&nbsp;{{starttime| date: 'H:mm'}}
                    </div>
                    <div class="row">
                        <u class="{{monitorstatus}}">เวลาปิด :</u>&nbsp;&nbsp;{{stoptime| date: 'H:mm'}}
                    </div>
                  
                </div>
                <div class="col col-33 {{tempColor}}"> 
                   <h1 class="{{tempColor}} {{monitorstatus}}">{{temperature}}</h1> <h2 class="{{monitorstatus}}">Celcius</h2> 
                  </div>
              </div>
            </div>
          </div>




          <center>
            <button class="button button-{{airpower}}" ng-click="changepower()"><i class="icon ion-power"></i></button>
            </center>

            <div class="row">

              
                <div class="col col-20">
            <button ng-click="decreaseTemp()" class="button button-calm right" id="decTemp"><i class="icon ion-minus"></i></button>
            </div>
            <div class="col col-60">
                    <label class="item item-input">
                            <input type="text" class="input-center" value="{{temperature}}" ng-model="temperature" ng-change="change()" id="Temp">
                          </label>
            </div>
            &nbsp;&nbsp;
            <div class="col col-10">
            <button ng-click="increaseTemp()" class="button button-calm left" id="incTemp"><i class="icon ion-plus"></i></button>
            </div>
          </div>

            <div class="list">

                    <label class="item item-input item-select">
                      <div class="input-label">
                        โหมด
                      </div>
                      <select ng-model="airmode" id="mode">
                            <option value="ปกติ">ปกติ</option>
                        <option value="เงียบ">เงียบ</option>
                        <option value="รุนแรงเหลือเกิน">รุนแรงเหลือเกิน</option>
                      </select>
                    </label>
                  
                  </div>
                  <div class="list">

                    <label class="item item-input item-select">
                      <div class="input-label">
                        ความแรงพัดลม
                      </div>
                      <select ng-model="fanlevel" id="fan">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </label>
                  
                  </div>

  
                  <div class="item item-input" ion-datetime-picker time ng-model="starttime">      
                      <div class="row" id="xx">
                        
                            <div class="col col-50 text-left">
                            เวลาเปิด
                            </div>
                             
                              <div class="input-label text-right col col-25 col-offset-20" id="time">{{starttime| date: 'H:mm'}}</div>
                             
                        </div>
                          </div>

                          <div class="item item-input" ion-datetime-picker time ng-model="stoptime" id="yy">      
                              <div class="row">
                                
                                    <div class="col col-50 text-left">
                                    เวลาปิด
                                    </div>
                                     
                                      <div class="input-label text-right col col-25 col-offset-20" id="time">{{stoptime| date: 'H:mm'}}</div>
                                     
                                </div>
                                  </div>
            
                    
    </ion-content>
  </ion-view>
  