<ion-view view-title="SMARTHOME">
    <ion-content>
		<div class="row">			
			<a class="col col-33 text-center" href="#/app/light">
				<img class="img-auto" src="img/bulb.png">
				<h4>เปิด/ปิดไฟ</h4>
			</a>
			<a class="col col-33 text-center" href="#/app/plant">
				<img class="img-auto" src="img/plant.png">
				<h4>รดน้ำต้นไม้</h4>
            </a>
            <a class="col col-33 text-center" href="#/app/air">
				<img class="img-auto" src="img/air.png">
				<h4>เครื่องปรับอากาศ</h4>
			</a>
		</div>
		<div class="row">
			<a class="col col-33 text-center" href="#/app/vaccum">
				<img class="img-xxx" src="img/vacuum.jpg">
				<h4>หุ่นยนต์ดูดฝุ่น</h4>
			</a>
			<a class="col col-33 text-center" href="#/app/garage">
				<img class="img-auto" src="img/garage.png">
				<h4>โรงรถ</h4>
            </a>
            <a class="col col-33 text-center" href="#/app/selectsong">
				<img class="img-auto" src="img/music.png">
				<h4>เครื่องเล่นเพลง</h4>
			</a>
        </div>
        <div class="row">
			<a class="col col-33 text-center" href="#/app/cam">
				<img class="img-auto" src="img/cam.png">
				<h4>กล้องวงจรปิด</h4>
			</a>
			<a class="col col-33 text-center" href="#/app/lock">
				<img class="img-auto" src="img/curtain.png">
				<h4>ผ้าม่าน</h4>
            </a>
            <a class="col col-33 text-center" href="#/app/temp">
				<img class="img-auto" src="img/temp.png">
				<h4>อุณหภูมิและความชื้น</h4>
			</a>
		</div>
		
	</ion-content>
  </ion-view>
  