<ion-view view-title="SMARTHOME">
    <ion-content>
		<div class="row">			
			<a class="col col-33 text-center" href="#/app/light">
				<img class="img-auto" src="img/bulb.png">
				<h5>Light</h5>
			</a>
			<a class="col col-33 text-center" href="#/app/plant">
				<img class="img-auto" src="img/plant.png">
				<h5>Plant Watering</h5>
            </a>
            <a class="col col-33 text-center" href="#/app/air">
				<img class="img-auto" src="img/air.png">
				<h5>Air Conditioner</h5>
			</a>
		</div>
		<div class="row">
			<a class="col col-33 text-center" href="#/app/vaccum">
				<img class="img-auto" src="img/bell.png">
				<h5>Doorbell</h5>
			</a>
			<a class="col col-33 text-center" href="#/app/garage">
				<img class="img-auto" src="img/garage.png">
				<h5>Garage</h5>
            </a>
            <a class="col col-33 text-center" href="#/app/selectsong">
				<img class="img-auto" src="img/music.png">
				<h5>Music</h5>
			</a>
        </div>
        <div class="row">
			<a class="col col-33 text-center" href="#/app/cam">
				<img class="img-auto" src="img/cam.png">
				<h5>Security Camera</h5>
			</a>
			<a class="col col-33 text-center" href="#/app/lock">
				<img class="img-auto" src="img/lock.png">
				<h5>Doorlock</h5>
            </a>
            <a class="col col-33 text-center" href="#/app/temp">
				<img class="img-auto" src="img/temp.png">
				<h5>Humid & Temperature</h5>
			</a>
		</div>
		
	</ion-content>
  </ion-view>
  