<ion-view view-title="Light Control">
    <ion-content>
        <ul class="list">

            <li class="item item-toggle">
                    <i class="icon"><img class="img-icon" src="img/sofa_icon.png"></i>
               ห้องนั่งเล่น
               <label class="toggle toggle-green">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          
            <li class="item item-toggle">
                    <i class="icon"><img class="img-icon" src="img/sleep_icon.jpg"></i>
                ห้องนอน
                <label class="toggle toggle-green">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
          
             <li class="item item-toggle">
                    <i class="icon ion-home"></i>
                หน้าบ้าน
                <label class="toggle toggle-green">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
          
             <li class="item item-toggle">
                    <i class="icon"><img class="img-icon" src="img/bathroom_icon.png"></i>
                ห้องน้ำ
                <label class="toggle toggle-green">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>

             <li class="item item-toggle">
                    <i class="icon"><img class="img-icon" src="img/kitchen_icon.png"></i>
                ห้องครัว
                <label class="toggle toggle-green">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
           
             <li class="item item-toggle">
                    <i class="icon"><img class="img-icon" src="img/garage_icon.png"></i>
                โรงรถ
                <label class="toggle toggle-green">
                  <input type="checkbox">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
          
          </ul>
    </ion-content>
  </ion-view>
  