<ion-view view-title="Light Control">
    <ion-nav-buttons side="right">
        <a class="button button-icon ion-plus" href="#/app/addLight/-1"></a>
      </ion-nav-buttons>
    <ion-content>
        <ul class="list">

            <li class="item item-toggle" ng-repeat="item in list">
                    <i class="icon"><img class="img-icon" src="{{item.urlicon}}"></i>
               {{item.text}}
               <label class="toggle toggle-green">
                 <input type="checkbox" ng-model="lightall.checked">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          </ul>
          <div class="row">
            <div class="col col-50 text-center">
            <button class="button button-balanced" ng-click="openall()">เปิดไฟทั้งหมด</button>
            </div>
            <div class="col col-50 text-center">
                <button class="button button-assertive" ng-click="closeall()">ปิดไฟทั้งหมด</button>
                </div>
            </div>
    </ion-content>
    </div>
  </ion-view>
  