<ion-view view-title="Curtain">
    <ion-content>
      <div class="list">
          <label class="item item-stacked-label">
              <span class="input-label">ห้องนอน</span>
        <div class="item range range-positive">
          <img  class="img-icon" src="img/close_curtain.svg">
          <input type="range" name="volume" min="0" max="100" value="0">
          <img  class="img-icon" src="img/open_curtain.jpg">
        </div>
      </label>
      
      <label class="item item-stacked-label">
          <span class="input-label">ห้องนั่งเล่น</span>
    <div class="item range range-positive">
      <img  class="img-icon" src="img/close_curtain.svg">
      <input type="range" name="volume" min="0" max="100" value="100">
      <img  class="img-icon" src="img/open_curtain.jpg">
    </div>
  </label>

      </div>
    </ion-content>
  </ion-view>
  