<ion-view>
	<ion-nav-bar>
		<ion-nav-back-button side="left" class="button button-icon ion-ios-arrow-back">
		</ion-nav-back-button>
		
		<ion-nav-buttons side="right">
			<a class="button button-icon ion-plus" href="#/app/addPlant/-1"></a>
		</ion-nav-buttons>
		
		<ion-nav-title>Plant Watering</ion-nav-title>
	</ion-nav-bar>
	<ion-content>
		<div class="list">
			<div class="row item item-divider">
			   <div class="col text-center"><h4>ชื่อ</h4></div>
			   <div class="col text-center"><h4>เวลา</h4></div>
			   <div class="col text-center"><h4>ON/OFF</h4></div>
			</div>	
			<a class="item" href="#/app/addPlant/{{item.index}}" ng-repeat="item in list">
				<div class="row">
				   <div class="col col-center text-center"><h2>{{item.text}}</h2></div>
				   <div class="col col-center text-center"><h2>{{item.time}}</h2></div>
				   <div class="col col-center text-center">
						<label class="toggle toggle-green">
							<input type="checkbox">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
				   </div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>
