<ion-view view-title="Vaccum cleaner CT">
    <ion-content>
<div class="row">
  <div class="col col-100">      
      <ul class="list">

          <li class="item item-toggle">
             ON/OFF
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
              Open manual
              <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="Omanual">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
           </li>
        </ul>
          </div>
</div>
        <div class="row">
        <div class="col col-25 col-offset-25 text-center">
          <img class="imgsize-96" src="{{batterypic}}">
        </div>
        <div class="col col-25 text-center">
            <p class="size-32 battery-text">{{batterypercent}}%</p>
          </div>
          </div>
          <div class="stick" ng-show="Omanual">
              <div id="static" width="120%"></div>
            </div>
    </ion-content>
  </ion-view>
  
