<ion-view view-title="กล้องวงจรปิด">
    <ion-content>
		<h1 class="text-center">{{id}}</h1>
		<div class="text-center">
			<video width="70%" autoplay="autoplay" webkit-playsinline="webkit-playsinline" loop>
				<source src="video/mouvee-road-highway-cars-overpass-montage.mp4" type="video/mp4"/>
			</video>
		</div>
		<div class="list">
			<div class="item item-icon-left" href="#">
				ตำแหน่งของกล้อง : ทางหลวง
			</div>
			<div class="item item-icon-left" href="#">
				สถานะ : {{status}}
			</div>
		</div>
		<div class="row" style="align-items: center;">
			<div class="col col-25 col-offset-25 text-center">
				<button class="button button-outline button-large button-positive" ng-click=openCam()><i class="icon ion-power {{onoff}}"></i></button>				
			</div>
			<div class="col col-25 text-center">
					<button class="button button-outline button-large button-positive" ng-click="openMic()"><i class="icon {{sound}}"></i></button>				
				</div>
		</div>
    </ion-content>
  </ion-view>
  