<ion-view view-title="Camera Viewer">
    <ion-content>
		<h1 class="text-center">{{id}}</h1>
		<div class="text-center">
			<video width="70%" autoplay="autoplay" webkit-playsinline="webkit-playsinline" loop>
				<source src="video/mouvee-road-highway-cars-overpass-montage.mp4" type="video/mp4"/>
			</video>
		</div>
		<div class="list">
			<div class="item item-icon-left" href="#">				
				Location : ทางหลวง
			</div>
			<div class="item item-icon-left" href="#">				
				Status : Online
			</div>
		</div>
		<div class="row" style="align-items: center;">
			<div class="col text-center">
				<button class="button button-outline button-large button-positive"><i class="icon ion-mic-a"></i></button>				
			</div>
		</div>
    </ion-content>
  </ion-view>
  