.img-auto{
    width: 96px;
    height: 115px;
    padding-top: 1.6em; 
}
.img-xxx{
    width: 125px;
    height: 125px;
    padding-top: 1.6em; 
}
a{
	text-decoration: none;
}
.img-icon{
    width: 8%;
    height: auto;
    
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
    font-family: 'Kanit', sans-serif;
}
    
    .input-center { 
        text-align: center; 
    }

.borderitem{
    border-style: solid;
    text-align: center;
    background:lightgrey;
}
.fanlevel{
    width: 12%;
    height: 12%;}
.garage-pic{
    padding-top:50px; 
    width: 70%;
    height: auto;
    }
.stick{
	padding: 75% 0;
    text-align: center;
}
	
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }

.song-big{
    width: 75%;
    height: auto;
};

.imgsize-12 { width: 12px; }
.imgsize-14 { width: 14px; }
.imgsize-16 { width: 16px; }
.imgsize-18 { width: 18px; }
.imgsize-21 { width: 21px; }
.imgsize-24 { width: 24px; }
.imgsize-32 { width: 32px; }
.imgsize-48 { width: 48px; }
.imgsize-64 { width: 64px; }
.imgsize-96 { width: 96px; }

.battery-text{
	padding: 45% 0;
    text-align: center;
}

.monitor-grey{
    color:grey;
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}

