.img-auto{
    width: 70%;
    height: auto;
    padding-top: 1.6em; 
}
a{
	text-decoration: none;
}
.img-icon{
    width: 8%;
    height: auto;
    
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
    font-family: 'Kanit', sans-serif;
}
    
    .input-center { 
        text-align: center; 
    }

.borderitem{
    border-style: solid;
    text-align: center;
    background:lightgrey;
}
.fanlevel{
    width: 16%;
    height: 16%;}
.garage-pic{
    padding-top:50px; 
    width: 70%;
    height: auto;
    }
	
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-32 { font-size: 32px; }
.size-48 { font-size: 48px; }
.size-64 { font-size: 64px; }
.size-96 { font-size: 96px; }

.song-big{
    width: 75%;
    height: auto;};